button {
    border: none;
    background-color: rgb(95, 95, 119);
    font-size: 24px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    outline: none;
  }
  
  button:hover{
    background-color: rgb(59, 56, 78);
  }
  
  .equals {
    grid-column: 3 / 5;
    background-color: rgb(228, 125, 52);
  }
  
  .equals:hover {
    background-color: rgb(168, 90, 35);
  }

  .create-app {
    background-color: rgb(61, 43, 184);
  }

  .stop-start {
    margin: 4px;
    padding: 15px;
    width: 173px;
    background-color: #28313b;
    font-weight: bold;
  }